
@{
    ViewData["Title"] = "About";
}
<div class="text-about">
    <h2>
        Ultimate Ninja Storm 4 features gameplay akin to that of previous games in the series,
        in which players battle each other in 3D arenas. A returning feature which was omitted since the original Ultimate Ninja Storm is the ability to Wall Run.
        Players will be able to dynamically take to battle to the sides of the arenas,
        and battle on the walls of each stage. A major change to the feature is the ability to have one character be on the wall,
        while the other stays on the field. Originally the second player was automatically moved to the wall,
        to keep the battle flowing and the system in check. The option to select one of three different fighting types has been removed,
        which was introduced in Naruto Shippuden: Ultimate Ninja Storm Revolution, restoring the previous system of Ultimate Jutsu and Awakenings seen in the rest of the series.
        Another new feature is the ability to swap characters during battle, similar to games like Marvel vs. Capcom 3. Awakenings and ultimate jutsus from previous games also return,
        and can now be shared between the switchable characters, meaning players can build up their meter with one character,
        switch to the other and use said abilities with the other character. However,
        the characters will now all share the same life bar. Also new to the franchise is the ability to break weapons and armor,
        both in free battle and boss battles. To support this, they have added the ability to create elemental damage; For example,
        fire can burn away clothing. Players can, however, get rid of the fire by moving around quickly throughout the area or by getting hit with water attacks.
    </h2>
</div>

