
@{
    ViewData["Title"] = "Projects";
}
<div class="myProjects">
    <a href="~/Projects/HTML Assiganment2/html.html">Naruto Strom 4</a>
    <a href="~/Projects/Min Hem Sida/Naruto/index.html">My Sida</a>
    <a href="~/Projects/Naruto Sokoban/Sokoban/Naruto Sokoban/index.html">Naruto Sokoban</a>
</div>